<p>
  signup-page works!
</p>


<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment">
      <div class="field required">
        <label>User Name</label>
        <input [(ngModel)]="user.username" placeholder="username" type="text" name="name">
      </div>
      <div class="field required">
        <label>Password</label>
        <input [(ngModel)]="user.password" placeholder="password" type="password" name="password">
      </div>
      <div class="field required">
        <label>Repeat password</label>
        <input [(ngModel)]="user.repassword" placeholder="repeatpw" type="password" name="repassword">
      </div>
      <div class="field required">
        <label>Gender</label>
        <select [(ngModel)]="user.gender" class="ui compact selection dropdown" name="gender">
          <option value="m">Male</option>
          <option value="f">Female</option>
          <option value="x">Secret</option>
        </select>
      </div>
      <div class="field required">
        <label>Intro</label>
        <textarea [(ngModel)]="user.bio" name="bio" rows="5"></textarea>
      </div>
      <input type="submit" (click)="signUp()" class="btn sidenav-btn btn-secondary btn-lg btn-block" value="signup">
  </form>
  </div>
</div>
